body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}


.highlight pre {
    padding: 0;
    background-color: transparent;
    border: 0;
    border-radius: 0;
}
.highlight .table-responsive,
.highlight pre,
.highlight .table>tbody>tr>td
{
  border: 0;
}
.highlight .table-responsive {
    margin-bottom: 0;
}
.highlight .table>tbody>tr>td {
    padding: 8px 8px 0 8px;
}
