<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/uno-spa-quant-ii/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/books">Books</a></li>
	        		<li><a href="/syllabus">Syllabus</a></li>
	        		<li><a href="/class">Classwork</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><font color="#999"></font>cbgoodman AT unomaha DOT edu</font></li>
	        		<li><a href="https://github.com/cbgoodman/uno-spa-quant-ii">Class Repository</a></li>
				</ul>
			</footer>
		</body>
	</html>
